.scroll-to-top {
    position: fixed;
    border: 1px solid #575149;
    background-color: #2b2822;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    color: #988f81;
}

.scroll-to-top a {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scroll-to-top:hover {
    background-color: #f8f6f2;
    color: #c3512f;
    border: 1px solid #ebe8e2;
}

.scroll-to-top.hidden {
    opacity: 0;
    visibility: hidden !important;
}