footer {
    background-color: var(--gray);
}

footer .container {
    padding: 30px 0;
}

footer .copy-right {
    background-color: #2b2822;
    color: #988f81;
    border-top: 1px solid #575149;
    margin-top: 20px;
    padding: 5px 50px;
    font-size: 15px;
}

footer .copy-right p {
    margin: 0;
}

footer .copy-right a {
    color: #988f81;
}